@media (max-width: 1190px) {
  html {
    font-size: 56%;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 52%;
  }
}
@media (max-width: 600px) {
  .input-text-area {
    grid-column: 1/-1;
    grid-row: 1;
  }
  .input-show-area {
    grid-row: 3;
    grid-column: 1/-1;
    height: 20rem;
  }
  .code-made-by {
    grid-column: 1;
    grid-row: 2;
  }
  .full-screen {
    grid-column: 2;
    grid-row: 2;
  }
  .input-section {
    padding: 0.5rem 1.2rem 6rem 1.2rem;
  }
}
@media (max-width: 396px) {
  html {
    font-size: 51%;
  }
}
