@media (max-width: 544px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 464px) {
  .text-info-container-elements {
    grid-template-columns: 1fr 1fr;
  }
  .input-text-area {
    height: 46rem;
  }
  .code-made-by {
    grid-column: 1;
    grid-row: 2;
  }
  .full-screen {
    grid-column: 2;
    grid-row: 2;
  }
}
